<div class="blur-container">
  <div class="blur-image dinnerpoll">
  </div>
</div>


<div id="landing-header">
  <%= link_to '/' do %>
    <%= image_tag 'instagatorlogo.png', id: 'landing-logo' %>
  <% end %>
  <%= link_to 'http://www.dinnerpoll.com/auth/facebook' do %>
    <div class="header-link no-mobile">Connect with Facebook</div>
  <% end %>
  <%= link_to 'http://www.dinnerpoll.com' do  %>
    <div class="header-link no-mobile">dinnerPoll</div>
  <% end %>
</div>

<div id="mid-container">
  <div class="mid-section">
    <div class="title-landing-text" id="fade-1">The automation of coordination.</div>
    <div id="section-footer">SCROLL DOWN TO SEE HOW</div>
  </div>
</div>

<div id="showcase-container" class="dinner">
      <div class="automation-header">The automation of coordination.</div>
  <div class="poll-sec" id="sec-1">
    <%= image_tag 'instagatoricon1.svg', :class => "sec-pic active first" %>
    <div class="poll-text active first">Send a poll with 
      a list of options.
    </div>
  </div>
  <div class="poll-sec" id="sec-1">
    <%= image_tag 'instagatoricon2.svg', :class => "sec-pic active first" %>
    <div class="recycle"></div>
    <div class="poll-text active first">Options are ranked
by the group. 
</div>
  </div>
  <div class="poll-sec" id="sec-3">
    <%= image_tag 'instagatoricon3a.png', :class => "sec-pic active first" %>
    <%= image_tag 'instagatoricon3b.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3c.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3d.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3e.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3f.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3g.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3h.png', :class => "sec-pic " %>
    <%= image_tag 'instagatoricon3i.png', :class => "sec-pic " %>
    <div class="recycle"></div>
    <div class="poll-text active first">Automatically acts
      on the groups behalf.
    </div>
    <div class="poll-text">Automatically books 
tee time at top course.</div>

<div class="poll-text">Automatically sends
calendar invite for top date.</div>

<div class="poll-text">Automatically books 
room in top hotel.</div>

<div class="poll-text">Automatically books
reservation at top restaurant.</div>

<div class="poll-text">Automatically books
top sea faring vessel.</div>


<div class="poll-text">Automatically books
flights to top city.</div>

<div class="poll-text">Automatically buys
tickets to top flick.</div>

<div class="poll-text">Automatically buys
lift tickets to top resort.</div>

  <div class="recycle"></div>
  </div>

  <div class="showcase-footer-text">
    First victim: group dinners. <br>
    <div class="dark-grey">Automate the coordination of a group dinner at dinnerPoll.com
    </div>
  </div>

</div>


<script>
	$(document).ready(function(){
		$('#main-header').css('display', 'none')
		$('body').addClass('landing')
	})
</script>
